<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张大仙</string>
		<key>uid</key>
		<string>UNDkxMTQzNzA4MA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>38号</string>
		<key>uid</key>
		<string>UMTUxMTg3NjU0MA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>新出行</string>
		<key>uid</key>
		<string>UMzI2NjE0MTUxMg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>兮有视频</string>
		<key>uid</key>
		<string>UNDY1ODY0MzQ5Ng</string>
	</dict>
	<dict>
		<key>name</key>
		<string>老司机</string>
		<key>uid</key>
		<string>UNDQzNDU5OTkyOA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩路</string>
		<key>uid</key>
		<string>UMzI4MzYwODUwNA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Car4Fun</string>
		<key>uid</key>
		<string>UMzQyNDQ2OTcxMg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>暴走汽车</string>
		<key>uid</key>
		<string>UMzIxOTkwNTkxNg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>李老鼠说车</string>
		<key>uid</key>
		<string>UMzA3ODE3NjcxNg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>萝卜报告</string>
		<key>uid</key>
		<string>UMTcwODYxMDY1Mg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车之家</string>
		<key>uid</key>
		<string>UNjA4MzA0Mjg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>踢车帮</string>
		<key>uid</key>
		<string>UMTY5ODYzMDgyMA</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一辆ACarTV</string>
		<key>uid</key>
		<string>UMzI0NTcyNDMzNg</string>
	</dict>
</array>
</plist>
